{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/medications/index.css' %}">
{% endblock  %}

{% block content %}

<h1 class='med-heading'>Medications</h1>
<table class='medication-table'>
  <thead>
    <tr class='heading'>
      <th>Medication</th>
      <th>Dose</th>
      <th>Frequency</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for medication in medications %}
    <tr class='rows'>
      <td>{{ medication.name }}</td>
        <td>{{ medication.dose }}{{ medication.unitOfMeasurement }}</td>
        <td>{{ medication.time }}</td>
        <td>
          <a href="{% url 'medication-detail' medication.id%}">
            <button class='btn'>More info</button>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}