body, html{
  margin: 0;
  background-color: rgb(244, 238, 237);
}
nav{
  background-color: rgb(153, 155, 132);
  padding: 10px;
}
nav > ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: right;
}
a, a:visited{
  text-decoration: none;
  margin: 10px;
  color: rgb(0, 0, 0);
}