.med-heading{
  padding: 10px;
}
.medication-table{
  margin: 0 auto;
  width: 90%;
  table-layout: fixed;
  border-collapse: collapse;
}
.heading{
  background-color: rgb(153, 155, 132);
  border-bottom: 1px solid black;
}
.heading> th{
  padding: 10px;
  text-align: left;
}
.rows> td{
  padding: 5px 10px;
}
tbody tr:nth-child(even){
  background-color: rgb(206, 206, 197);
} 
.btn{
  border: 1px solid rgb(56, 57, 49);
  border-radius: 7px;
  background-color: rgb(153, 155, 132);
  padding: 5px 10px;
}
.btn:hover{
  background-color: rgb(207, 207, 185);
  box-shadow: 1px 1px 5px;
}
.btn:active{
  box-shadow: none;
}